.jumbotron{
    background-color: #EEEDEF !important;
    padding-bottom: 30px !important;
}

.header{
    font-size: 60px;
}

.btn-nav {
    justify-content: center;
}

.btn-nav div{
    padding: 5px;
}

.btn-nav .btn{
    min-width: 200px;
}